Repository lordtachen/work-schedule: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, isort, pytest

ruff:
  name: ruff
  entry: ruff
  language: python

isort:
  name: isort
  entry: isort
  language: python
  args:
  - --profile
  - black

pytest:
  name: pytest
  entry: pytest
  language: python

Add pre-commit workflow
  .github/workflows/pre-commit.yml
  poetry.lock
  pyproject.toml
Due: none

Change project structure to have clear boundaries between layers
  README.md
  core/__init__.py
  main.py
  tests/conftest.py
  tests/routes/test_user.py
  utils/yaml_to_sql.py
  work_schedule_backend/data_structures/__init__.py
  work_schedule_backend/data_structures/permission.py
  work_schedule_backend/data_structures/user.py
  work_schedule_backend/db/core.py
  work_schedule_backend/db/models.py
  work_schedule_backend/db/permission.py
  work_schedule_backend/db/user.py
  work_schedule_backend/models/permission.py
  work_schedule_backend/models/user.py
  work_schedule_backend/routes/permission.py
  work_schedule_backend/routes/user.py
Due: ruff, isort, pytest

move core package to the correct path
  work_schedule_backend/core/__init__.py
Due: ruff, isort

Create get_by_id and seach by parameter for generic use
  work_schedule_backend/db/models.py
  work_schedule_backend/db/user.py
  work_schedule_backend/routes/user.py
Due: ruff, isort

Add some test to user db access
  core/__init__.py
  tests/conftest.py
  tests/db/test_db_user.py
  tests/mock_data/user.yaml
Due: ruff, isort, pytest

update dependencies
  poetry.lock
Due: none

Adding Test Coverage reporting
  .github/workflows/lint_test.yml
  poetry.lock
  pyproject.toml
Due: none

Add html report
  .github/workflows/lint_test.yml
Due: none

From refs/pull/8/merge da7fecaf72c3296de35e592b57c2866916bd70b6
  .gitignore
  .nojekyll
  README.md
  coverage_html.js
  d_b5082738ac309da2___init___py.html
  d_d5057fceb50dc427___init___py.html
  d_e369ab7f1fe792c1___init___py.html
  d_e369ab7f1fe792c1_permission_py.html
  d_e369ab7f1fe792c1_user_py.html
  d_f57da50b752f3d7e___init___py.html
  d_f57da50b752f3d7e_core_py.html
  d_f57da50b752f3d7e_models_py.html
  d_f57da50b752f3d7e_permission_py.html
  d_f57da50b752f3d7e_user_py.html
  d_fde088e60a746042___init___py.html
  d_fde088e60a746042_permission_py.html
  d_fde088e60a746042_user_py.html
  favicon_32.png
  index.html
  keybd_closed.png
  keybd_open.png
  status.json
  style.css
Due: none

Multiple project setup changes
  .devcontainer/devcontainer.json
  .github/workflows/lint_test.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  config.py
  main.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  utils/yaml_to_sql.py
  work_schedule_backend/db/core.py
  work_schedule_backend/db/models.py
  work_schedule_backend/db/user.py
  work_schedule_backend/routes/permission.py
  work_schedule_backend/routes/user.py
Due: ruff, isort, pytest

fix pytest workflow entry
  .github/workflows/lint_test.yml
Due: none

Add docker image
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  Dockerfile
Due: none

Add docker config
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  compose.yaml
  pyproject.toml
  shared/__init__.py
  shared/config.py
  tests/conftest.py
  tests/routes/test_user.py
  work_schedule_backend/Dockerfile
  work_schedule_backend/db/core.py
  work_schedule_backend/main.py
Due: ruff, isort, pytest

Add pre-commit install hooks to dev container
  .devcontainer/devcontainer.json
Due: none

Add deployment config to gcp using pulumi
  compose.yaml
  deployment/Pulumi.dev.yaml
  deployment/Pulumi.yaml
  deployment/__init__.py
  deployment/__main__.py
  deployment/requirements.txt
  work_schedule_backend/Dockerfile
Due: ruff, isort

Add pulumi workflows
  .github/workflows/lint-test.yml
  .github/workflows/pulumi-destroy.yml
  .github/workflows/pulumi-preview.yml
  .github/workflows/pulumi-up.yml
Due: none

add workdir to pulumi workflows
  .github/workflows/pulumi-destroy.yml
  .github/workflows/pulumi-preview.yml
  .github/workflows/pulumi-up.yml
Due: none

Update README.md
  README.md
Due: none

Update poetry
  .github/workflows/lint-test.yml
  .github/workflows/pulumi-destroy.yml
  .github/workflows/pulumi-preview.yml
  .github/workflows/pulumi-up.yml
  poetry.lock
  pyproject.toml
  work_schedule_backend/Dockerfile
Due: none

Atualizar o __main__.py
  deployment/__main__.py
Due: ruff, isort

Path conditions:
  ruff: any of: \.py$
  isort: any of: \.py$ and \.py$ and not (^\./tests/)
  pytest: any of: tests/.*\.py$
